/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    line-height: 1.5;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bcgColor);
    font-family: 'Poppins', sans-serif;
    /* font-family: 'Roboto', sans-serif; */
}

.container{
    width: 1000px;
    height: 550px;
    background-color: var(--White);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}

.firstContainer{
    width: 500px;
    height: 100%;
    padding: 20px;
}

.secondContainer{
    background-color: var(--Blue);
    width: 500px;
    height: 100%;
    border-radius: 0px 20px 20px 0;
}

:root{
    --Blue: rgba(6, 90,216, 1);
    --White: rgba(255, 255, 255, 1);
    --bcgColor: rgba(213, 219, 226, 1);
    --VeryPaleBlue: hsl(230, 100%, 99%);
}