@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap'); */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    line-height: 1.5;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bcgColor);
    /* font-family: 'Poppins', sans-serif; */
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 1000px;
    height: 600px;
    background-color: var(--White);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.firstContainer {
    width: 500px;
    height: 100%;
    padding: 80px;
}

.headings h1{
    font-size: 1.5rem;
    font-weight: 700;
}

.headings p{
    font-size: .7rem;
}

.signWithButton {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px auto;
}

.signWithButton .btn {
    border: 1px solid #ddd;
    background-color: transparent;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 3px;
    cursor: pointer;
    font-size: .7rem;
    font-weight: 600;
}

.signWithButton .btn#google {
    margin-right: 10px;
}

.signWithButton .btn img {
    width: 17px;
    margin-right: 5px;
}

.inputs form .input-box input{
    width: 100%;
    padding-left: 35px;
    margin-bottom: 9px;
    border-radius: 5px;
    background-color: var(--inputBg);
    border: 1px solid #ddd;
    height: 45px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 2px 0px;
}

.inputs form .input-box input:focus{
    border: 1px solid #ddd;
    outline: none;
}

.inputs form .input-box .icon{
    position: relative;
}

.inputs form .input-box .icon i img{
    width: 15px;
    position: absolute;
    top: 15px;
    left: 12px;
}

#view-password{
    position: absolute;
    right: 10px;
    cursor: pointer;
    top: 10px;
    width: 20px;
}

.forgot{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.forgot .checkDiv{
    display: flex;
    align-items: center;
}

label{
    margin-left: 5px;
    font-size: .7rem;
}

a{
    font-size: .7rem;
    text-decoration: none;
    color: var(--Blue);
}

#login{
    width: 100%;
    background-color: var(--Blue);
    border: none;
    padding: 10px;
    color: var(--White);
    font-size: .8rem;
    margin: 20px auto;
    border-radius: 3px;
    cursor: pointer;
}

.continue {
    position: relative;
    margin: 25px auto;
}

.continue p{
    position: absolute;
    font-size: .6rem;
    top: -7px;
    right: 110px;
    background-color: var(--White);
    padding: 0px 10px;
}

.newAcct{
    display: flex;
    align-items: center;
    justify-content: center;
}

.newAcct p{
    font-size: .7rem;
    margin-right: 5px;
}

.secondContainer {
    background-color: var(--Blue);
    width: 500px;
    height: 100%;
    border-radius: 0px 10px 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.title h1{
    color: #fff;
    font-size: .9rem;
    text-align: center;
}

.title p{
    font-size: .7rem;
    color: #fff;
    opacity: 45%;
}

.secondContainer img{
    width: 400px;
}

::placeholder{
    font-size: .7rem;
}

.headings, .signWithButton, .inputs, .forgot {
    margin: 18px auto;
}

input.error{
    outline: 1px solid red;
}

:root {
    --Blue: rgba(6, 90, 216, 1);
    --White: rgba(255, 255, 255, 1);
    --bcgColor: rgba(213, 219, 226, 1);
    --VeryPaleBlue: hsl(230, 100%, 99%);
    --inputBg: rgba(250, 252, 254, 1);
}